<!DOCTYPE html>
<html>
<head>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}
</style>
</head>
<body>

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/teachers">Teachers</a></li>
  <li><a href="/students">Students</a></li>
  <li><a href="/subjects">Subjects</a></li>
</ul>

</body>
</html>
