<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add Student</title>
  </head>
  <body>
    <h1>Add Student Data</h1>
    <form action="/student/add" method="POST">
        First Name :<br>
        <input type="text" name="FirstName">
        <br><br>
        Last Name :<br>
        <input type="text" name="LastName">
        <br><br>
        Email :<br>
        <input type="email" name="Email">
        <br><br>
        <button>Submit</button>
    </form>
    <br>
    <a href="/student">Back</a>
  </body>
</html>
