<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Page Title</title>

</head>
<body>
    <h2>Give Score</h2>

    <% subjects.forEach(function(subject){ %>
        <form action="/subjects/<%= subject.SubjectId %>/<%= subject.StudentId %>/give-score" method="POST">
            SCORE :
            <input type="text" name="score">
            <br><br>
            <input type="submit" value="Submit">
          </form> 
    <% }) %>
</body>
</html>