<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table style="width:50%" border="1px">
        <tr>
          <th>Firstname</th>
          <th>Lastname</th> 
          <th>Email</th>
        </tr>
        <%for(let i =0;i<dataStudent.length;i++){%>
                <tr>
                        <td><%=dataStudent[i].first_name%></td>
                        <td><%=dataStudent[i].last_name%></td> 
                        <td><%=dataStudent[i].email%></td>
                      </tr>
            <%}%>
        
       
      </table>
</body>
</html>