<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>

  <div class="w3-container">
    <h2>All Subject Data</h2>
    <table class="w3-table">
      <tr>
        <th>Id</th>
        <th>Subject Name</th>
        <th>Teacher</th>
        <th>Actions</th>
      </tr>
      <% dataSubject.forEach(dataSubject => { %>
        <tr>
          <td><%= dataSubject.id %></td>
          <td><%= dataSubject.subject_name %></td>
          <td>
            <ol>
              <li>Yulius Prawiranegara</li>
              <li>Bambang Suprapto</li>
            </ol>
          </td>
          <td>
            <a href="/subject/<%= dataSubject.id %>/enrolled-students">Enrolled Students</a>
          </td>
          <td>
            <a href="#">Edit</a> ||
            <a href="#">Delete</a>
          </td>
        </tr>
      <% }) %>
    </table>

    <a href="/" class="w3-button w3-black">Back</a>
  </div>

</body>

</html>