<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Enrolled Students</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center"><%= data.subjectName %></h1>
    <h4 style="text-align: center"><a href="/subjects" style="text-decoration: none">return to subject list</a></h4>
    <table>
        <tr>
            <th>Name</th>
            <th>Score</th>
            <th>Actions</th>
        </tr>
        <% data.Students.forEach(dataStudent => { %>
        <tr>
                <td><%= `${dataStudent.firstName} ${dataStudent.lastName}` %></td>
                <td><%= dataStudent.StudentSubject.score %></td>
                <td><a href="/subjects/<%= data.id %>/give-score" style="text-decoration: none">Give Score</a></td>
           <% }) %>
        </tr>
    </table>
</body>
</html>