<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Enrolled students</title>
</head>
<body>
  <h3><%= data[0].Subject.subject_name %></h3>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(instance => { %>
        <tr>
          <td><%= `${instance.Student.first_name} ${instance.Student.last_name}` %></td>
          <td>
            <% if (instance.score === null) {%>
              <a href="/subjects/<%= instance.id %>/give-score">
              Give Score
              </a>
            <% } else { %>
              <%= instance.score %>
            <% } %>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</body>
</html>