<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Give score to <%= data.Student.first_name %></title>
</head>
<body>
  <form action="/subjects/<%= data.id %>/give-score" method="POST">
    <label for="studentname">Student name</label>
    <p><%= `${data.Student.first_name} ${data.Student.last_name}`%></p>
    <label for="subject">Subject</label><br>
    <p><%= data.Subject.subject_name%></p>
    <label for="score">Score</label>
    <input type="text" name="score" id="score">
    <button type="submit" value="Submit">Submit</button>
  </form>
</body>
</html>