<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Add Score Student</title>
</head>
<body>
    <form action="">
        
    </form>
</body>
</html>