<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>School Websites</title>

</head>
<body>
    <h2>Welcome To School Websites</h2>
    <ul>
        <li><a href="/teachers">Teacher List</a></li><br>
        <li><a href="/students">Student List</a></li><br>
        <li><a href="/subjects">Subject List</a></li>
    </ul>

</body>
</html>