<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">
  <h2>WELCOME TO STUDENT INFORMATION</h2>
  <a href="/student" class="w3-button w3-black">Show Data Student</a>
  <a href="/subject" class="w3-button w3-black">Show Data Subject</a>
</div>
</body>
</html>
