<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Home</h1>
    <a href="/student">Student</a>
    <a href="/teacher">Teacher</a>
    <a href="/subject">Subject</a>
  </body>
</html>
