<%- include('./header/header') -%>
    <main role="main" class="container" style=" padding: 5rem 1.5rem; text-align: center;">
      <div class="content">
        <h2>Welcome to Treasure Fox School Administration System</h2>
        <p class="lead">This system used to manage teachers and subjects class database</p>
      </div>
      <a class="btn btn-lg btn-info " href="/teachers" role="button" >Go To Teacher Page</a>
      <a class="btn btn-lg btn-info " href="/students" role="button" >Go To Student Page</a>
      <a class="btn btn-lg btn-info " href="/subjects" role="button" >Go To Subject Page</a>
    </main><!-- /.container -->
<%- include('./script/script')-%>