<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Register Student</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <form action="/students/register" method="POST">
        First name:<br>
        <input type="text" name="firstName" placeholder="firstname">
        <br>
        Last name:<br>
        <input type="text" name="lastName" placeholder="lastname">
        <br>
        Email:<br>
        <input type="text" name="email" placeholder="example@mail.com">
        <br><br>
        <input type="submit" value="Submit">
    </form> 
</body>
</html>