<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
  </head>
  <body>
    <h2><%= title %></h2>
    <table>
      <tr>
        <th>Name</th>
        <th>Score</th>
      </tr>
      <% subject.Students.forEach(student =>{%>
      <tr>
          <td><%= student.first_name %><%= student.last_name%></td>
          <td><a href="/subject/<%= subject.id%>/give-score">Give Score</a></td>
      </tr>
      <%})%>
    </table>
  </body>
</html>
