<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Subject</title>
  </head>
  <body>
    <h1>All Subjects Data</h1>
    <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Subject Name</th>
            <th>Teacher</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% dataSubject.forEach((data) => { %>
          <tr>
            <td><%=data.id%></td>
            <td><%=data.SubjectName%></td>
            <td></td>
            <td><a href="/enrolledstudent">Endrolled Student</a></td>
          <%})%>
          </tr>
        </tbody>
    </table>
    <a href="/">Back</a>
  </body>
</html>
