<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Give Score</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
    <!-- <script src="main.js"></script> -->
</head>
<body>
        <%- include('../partials/header.ejs') -%>
    <h2><%= title %></h2>
    <br>
    <br>
        <form action="/subjects/<%= idsubject %>/give-score/<%= idstudent %>" method="post">
        Score:<input type="text" name="Score" placeholder="Input Score">
        <button type="submit" value="Submit">Submit</button>
        </form>
</body>
</html>