<!DOCTYPE html>
<html>
<body>

<h2>Add Student</h2>

<form action="/students/add" method="POST">
  First name:<br>
  <input type="text" name="firstName">
  <br>
  Last name:<br>
  <input type="text" name="lastName">
  <br>
  Email:<br>
  <input type="email" name="email">
  <br><br>
  <input type="submit" value="Submit">
</form> 
</body>
</html>
